<div class="container-fluid">
  <div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.widgetType">
      <div *ngSwitchCase="'Heading'">
        <div [ngSwitch]="widget.size">
          <h1 *ngSwitchCase="'1'">{{widget.text}}</h1>
          <h2 *ngSwitchCase="'2'">{{widget.text}}</h2>
          <h3 *ngSwitchCase="'3'">{{widget.text}}</h3>
        </div>
      </div>
      <div *ngSwitchCase="'Link'">
        <a target="blank" href="{{widget.text}}">{{widget.text}}</a>
        <iframe width="560"
                height="315"
                src="https://www.youtube.com/embed/{{widget.text.split('=')[1].split('&')[0]}}"
                frameborder="0"
                allowfullscreen>
        </iframe>
      </div>
      <div *ngSwitchCase="'List'">
        <h1>ListWidget</h1>
        <ul class="list-group">
          <li class="list-group-item"
              *ngFor="let item of widget.text.split('\n')">
            {{item}}
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="'Paragraph'">
        <p>{{widget.text}}</p>
      </div>
      <div *ngSwitchCase="'Image'">
        <img src={{widget.text}}>
      </div>
    </div>
  </div>
</div>
