.list-group-item.active.webdev {
  z-index: 2;
  color: black;
  background-color: white;
}

.alignment {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding {
  padding-top: 10px;
}

.move-down {
  margin-top: 20px;
}
