<div class="container-fluid">
  <h2 class="move-down">Courses:</h2>
  <div class="row">
  <div *ngFor="let course of courses" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">Course Title</p>
        <div class="float-left">
        <a routerLink="/course/{{course.id}}"
           class="btn btn-primary">View</a>
        </div>
        <div *ngIf="username !== 'admin'&& username !== '' && isEnrolled(course.id);">
          <div class="float-right">
        <a routerLink="/course/{{course.id}}/section"
           class="btn btn-success">Enroll</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
